# Port for the Stremio Addon HTTP server
PORT=7000

# Your Alo Moves / Alo Wellness Club remember_token cookie
# Found in browser DevTools: Application -> Cookies -> wellnessclub.aloyoga.com -> remember_token
ALO_REMEMBER_TOKEN=your_remember_token_here
